source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx

# Unity3D

nuget Wooga.Lambda.Unity3D.Source
nuget Wooga.Lambda.Logging.Unity3D.Source
nuget Wooga.Lambda.Network.Unity3D.Source
nuget Wooga.Lambda.Storage.Unity3D.Source
nuget Wooga.Lambda.Parser.Unity3D.Source
nuget PerfUtil
