<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Wooga" value="http://wooga.artifactoryonline.com/wooga/api/nuget/nuget-private" />
  </packageSources>
  <packageSourceCredentials>
    <Wooga>
      <add key="Username" value="nuget-consumer" />
      <add key="ClearTextPassword" value="oG2ed4nEm4koAc8d" />
    </Wooga>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="Wooga" value="http://wooga.artifactoryonline.com/wooga/api/nuget/nuget-private" />
  </activePackageSource>
</configuration>